<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<header><h1>Our Site</h1></header>
<main><%- include(page) %></main>
<footer>
    &copy; 2018 401n7
</footer>
</body>
</html>